<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#c2ccd5"/>
    <title>{{ pageTitle }}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Roboto, sans-serif;
            background-color: #c2ccd5;
            padding: 0;
            margin: 0;
            font-size: 16px;
        }

        h1, h2, h3, h4 {
            font-weight: 700;
        }

        h1 {
            font-size: 28px;
            margin-top: 0;
        }

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 16px;
            font-style: italic;
        }

        .header {
            background-color: black;
            padding: 0 20px;
            display: flex;
            align-items: center;
            height: 40px;
        }

        .header a {
            color: white;
            text-decoration: none;
            margin-right: 20px;
            display: flex;
            align-content: center;
        }

        .header a svg {
            margin-right: 5px;
        }

        .header #search {
            margin-left: auto;
            width: 200px;
            height: 26px;
            border: none;
            padding: 0 10px;
        }

        .header #delete {
            margin-left: auto;
            margin-right: 0;
        }

        .content {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-group label {
            display: flex;
            margin-bottom: 5px;
        }

        .form-group #name {
            width: 100%;
            height: 26px;
            border: none;
            padding: 0 10px;
        }

        .form-group #markdown {
            font-size: 12px;
        }

        .recipe-edit {
            width: 100%;
            height: 70vh;
            padding: 10px;
            background-color: white;
            border: none;
        }

        #html-preview {
            overflow-y: auto;
        }

        body.show {
            background-color: white;
        }

        .alert {
            background-color: #223139;
            color: white;
            padding: 10px 20px;
            margin-bottom: 10px;
            border-radius: 3px;
            display: flex;
        }

        .alert a {
            margin-left: auto;
            text-decoration: none;
            color: white;
        }

        .add-to-home-screen {
            display: none;
            margin-left: 20px;
            color: black;
        }
    </style>
    {% block headExtra %}{% endblock %}
</head>
<body class="{{ bodyClass | default('') }}">
<div class="header">
    {% block header %}{% endblock %}
</div>
<div class="content">
    {% block content %}{% endblock %}
</div>
{% block scripts %}{% endblock %}
</body>
</html>
