{% extends 'base.html.twig' %}

{% block header %}
    <a href="/{% if recipeSlug %}show/{{ recipeSlug }}{% endif %}" accesskey="c">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
             stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
            <path d="M19 12H6M12 5l-7 7 7 7"/>
        </svg>
        Cancel</a>
{% endblock %}

{% block content %}
    <form action="#" method="post">
        <div class="form-group">
            <label for="name">Recipe name</label>
            <input id="name" name="name" type="text" value="{{ recipeName }}" maxlength="70" autofocus>
            {% if errors and errors.name %}
                <div>{{ errors.name }}</div>{% endif %}
        </div>

        <div class="form-group">
            <label for="markdown">Recipe
                <a href="#" id="preview" style="margin-left: auto;" accesskey="p">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                         stroke="#000000" stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </a>
            </label>
            <textarea name="markdown" id="markdown" class="recipe-edit">{{ recipeMarkdown | raw }}</textarea>
            <div id="html-preview" class="recipe-edit" style="display: none;"></div>
        </div>

        <div class="form-actions">
            <button type="submit" accesskey="s">Save</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        {% include 'marked.js.twig' %}
        {% include 'edit.js.twig' %}
    </script>
{% endblock %}