{% extends 'base.html.twig' %}

{% block headExtra %}
    <style>
        .filters {
            margin-bottom: 20px;
            display: flex;
        }

        .filter {
            width: 22px;
            height: 22px;
            margin-right: 10px;
            cursor: pointer;
        }

        .recipes {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

        .recipe {
            display: flex;
            flex-direction: column;
            background-color: #dde7f0;
            box-shadow: 1px 1px 2px rgba(69, 18, 0, 0.2);
            text-decoration: none;
            color: black;
            order: 1;
        }

        .recipe.found {
            order: 0;
        }

        .recipes.search-results .recipe:not(.found) {
            display: none;
        }

        .recipe:hover, .recipe:focus {
            box-shadow: 2px 2px 3px rgba(69, 18, 0, 0.2);
            margin: -1px 1px 1px -1px;
        }

        .recipe[data-tags*='@made'] {
            background-color: white;
        }

        .recipe-name {
            padding: 20px;
            flex: 1 1 auto;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .recipe-tags {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .recipe-tags svg {
            order: 1;
            margin: 0 4px 4px 0;
            width: 18px;
            height: 18px;
        }

        .serves {
            order: 2;
            margin: 0 4px 4px 0;
            min-width: 18px;
            height: 18px;
            padding: 0 4px;
            background-color: #6491a9;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
        }
    </style>
{% endblock %}

{% block header %}
  {% if locked != true %}
    <a href="/new" accesskey="n">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
             stroke-width="2" stroke-linecap="butt" stroke-linejoin="arcs">
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        New recipe</a>
  {% endif %}
    <input type="search" id="search" placeholder="Search" autofocus autocomplete="off">
{% endblock %}

{% block content %}
    <div class="filters"></div>
    {% for alert in flashes['alert'] %}
        <div class="alert">
            {{ alert }}
            <a href="#" onclick="this.parentElement.remove();">close</a>
        </div>
    {% endfor %}
    <div class="recipes">
        {% for recipePath, recipeDetails in recipes %}
            {# background-image: url('/images/{{ recipePath }}.jpg'); background-repeat: no-repeat #}
            <a class="recipe"
               href='/show/{{ recipePath }}'
               data-tags="{{ recipeDetails.tags | join(' ') }}"
               data-serves="{{ recipeDetails.serves }}">
                <span class="recipe-name">{{ recipeDetails.name }}</span>
                <span class="recipe-tags"></span>
            </a>
        {% endfor %}
    </div>
{% endblock %}
 
{% block scripts %}
    <script>
      const filtersContainer = document.querySelector('.filters');
      const recipesContainer = document.querySelector('.recipes');
      const allRecipes = document.querySelectorAll('.recipe');
      const searchInput = document.getElementById('search');
      let result;

      searchInput.addEventListener('input', (event) => {
        window.clearTimeout(window.searchTimeout);
        const searchString = event.target.value || '';

        window.searchTimeout = window.setTimeout(function () {
          recipesContainer.classList.remove('search-results');
          allRecipes.forEach((recipe) => {
            recipe.classList.remove('found');
          });

          if (searchString !== '') {
            fetch(`/search/${searchString}`, { method: 'post' }).then((response) => {
              return response.json();
            }).then((json) => {
              recipesContainer.classList.add('search-results');
              json.forEach((slug) => {
                allRecipes.forEach((recipe) => {
                  if (recipe.href.endsWith(`/${slug}`)) {
                    recipe.classList.add('found');
                  }
                });
              });
            });
          }
        }, 500);
      });

      const iconVegetarian = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#508635" d="M0 32c477.6 0 366.6 317.3 367.1 366.3L448 480h-26l-70.4-71.2c-39 4.2-124.4 34.5-214.4-37C47 300.3 52 214.7 0 32zm79.7 46c-49.7-23.5-5.2 9.2-5.2 9.2 45.2 31.2 66 73.7 90.2 119.9 31.5 60.2 79 139.7 144.2 167.7 65 28 34.2 12.5 6-8.5-28.2-21.2-68.2-87-91-130.2-31.7-60-61-118.6-144.2-158.1z"></path></svg>';
      const iconDrink = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="#be4bdb" d="M296 464h-56V338.78l168.74-168.73c15.52-15.52 4.53-42.05-17.42-42.05H24.68c-21.95 0-32.94 26.53-17.42 42.05L176 338.78V464h-56c-22.09 0-40 17.91-40 40 0 4.42 3.58 8 8 8h240c4.42 0 8-3.58 8-8 0-22.09-17.91-40-40-40zM432 0c-62.61 0-115.35 40.2-135.18 96h52.54c16.65-28.55 47.27-48 82.64-48 52.93 0 96 43.06 96 96s-43.07 96-96 96c-14.04 0-27.29-3.2-39.32-8.64l-35.26 35.26C379.23 279.92 404.59 288 432 288c79.53 0 144-64.47 144-144S511.53 0 432 0z"></path></svg>`;
      const iconSweet = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#AE7921" d="M510.52 255.82c-69.97-.85-126.47-57.69-126.47-127.86-70.17 0-127-56.49-127.86-126.45-27.26-4.14-55.13.3-79.72 12.82l-69.13 35.22a132.221 132.221 0 0 0-57.79 57.81l-35.1 68.88a132.645 132.645 0 0 0-12.82 80.95l12.08 76.27a132.521 132.521 0 0 0 37.16 72.96l54.77 54.76a132.036 132.036 0 0 0 72.71 37.06l76.71 12.15c27.51 4.36 55.7-.11 80.53-12.76l69.13-35.21a132.273 132.273 0 0 0 57.79-57.81l35.1-68.88c12.56-24.64 17.01-52.58 12.91-79.91zM176 368c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm32-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm160 128c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z"></path></svg>';
      const iconBbq = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><g> <path d="M195.999,54.013c-9.858-11.903-5.11-22.034,0.61-28.436c5.648-6.323,5.101-16.027-1.221-21.674 c-6.321-5.648-16.025-5.099-21.674,1.221c-13.899,15.559-22.595,42.828-1.359,68.47c2.744,3.316,11.097,13.404,0.369,25.425 c-5.644,6.325-5.093,16.029,1.231,21.674c2.928,2.612,6.578,3.898,10.216,3.898c4.222,0,8.425-1.732,11.458-5.129 C209.313,104.13,216.596,78.885,195.999,54.013z"/> </g> </g> <g> <g> <path d="M260.857,54.013c-9.858-11.903-5.11-22.034,0.61-28.436c5.648-6.323,5.101-16.027-1.221-21.674 c-6.321-5.648-16.025-5.099-21.674,1.221c-13.899,15.559-22.595,42.828-1.359,68.47c2.745,3.316,11.098,13.404,0.369,25.425 c-5.644,6.325-5.093,16.029,1.231,21.674c2.928,2.612,6.578,3.898,10.216,3.898c4.222,0,8.425-1.732,11.458-5.129 C274.17,104.13,281.454,78.885,260.857,54.013z"/> </g> </g> <g> <g> <path d="M325.716,54.013c-9.858-11.903-5.11-22.034,0.61-28.436c5.648-6.323,5.101-16.027-1.221-21.674 c-6.321-5.648-16.025-5.099-21.674,1.221c-13.899,15.559-22.595,42.828-1.359,68.47c2.744,3.316,11.097,13.404,0.369,25.425 c-5.644,6.325-5.093,16.029,1.231,21.674c2.928,2.612,6.578,3.898,10.216,3.898c4.222,0,8.425-1.732,11.458-5.129 C339.029,104.13,346.313,78.885,325.716,54.013z"/> </g> </g> <g> <g> <path d="M332.427,300.548c18.899-7.582,36.335-18.022,51.568-31.073c34.978-29.97,54.241-70.017,54.241-112.764 c0-8.478-6.873-15.351-15.351-15.351H89.117c-8.478,0-15.351,6.873-15.351,15.351c0,42.747,19.264,82.794,54.241,112.764 c15.557,13.329,33.414,23.931,52.78,31.55l-66.849,190.539c-2.806,8,1.403,16.759,9.403,19.567c1.682,0.59,3.396,0.87,5.082,0.87 c6.337,0,12.269-3.955,14.485-10.272l23.65-67.409h74.093v62.328c0,8.478,6.873,15.351,15.351,15.351 c8.478,0,15.351-6.873,15.351-15.351V434.32h75.498l23.665,67.412c2.217,6.317,8.148,10.269,14.484,10.269 c1.687,0,3.403-0.28,5.084-0.87c7.999-2.808,12.208-11.57,9.4-19.569L332.427,300.548z M271.351,403.617v-58.498 c-5.086,0.32-10.205,0.484-15.351,0.484s-10.264-0.163-15.351-0.484v58.499h-63.322l32.84-93.602 c14.794,3.313,30.164,5.031,45.833,5.031c16.12,0,31.924-1.817,47.111-5.321l32.96,93.891H271.351z"/> </g> </svg>`;
      const iconPlatter = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#06c" d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"></path></svg>`;

      function createFilter(tag, icon) {
        let filter = document.createElement('div');
        filter.classList.add('filter');
        filter.innerHTML = icon;

        filter.addEventListener('click', () => {
          if (searchInput.value !== tag) {
            searchInput.value = tag;

            recipesContainer.classList.remove('search-results');
            allRecipes.forEach((recipe) => {
              recipe.classList.remove('found');
            });

            allRecipes.forEach((recipe) => {
              if (recipe.dataset.tags.indexOf(tag) >= 0) {
                recipesContainer.classList.add('search-results');
                recipe.classList.add('found');
              }
            });
          } else {
            searchInput.value = '';

            recipesContainer.classList.remove('search-results');
            allRecipes.forEach((recipe) => {
              recipe.classList.remove('found');
            });
          }
        });

        return filter;
      }

      filtersContainer.appendChild(createFilter('@vegetarian', iconVegetarian));
      filtersContainer.appendChild(createFilter('@drink', iconDrink));
      filtersContainer.appendChild(createFilter('@sweet', iconSweet));
      filtersContainer.appendChild(createFilter('@bbq', iconBbq));
      filtersContainer.appendChild(createFilter('@platter', iconPlatter));

      allRecipes.forEach((recipe) => {
        const tags = recipe.dataset.tags;
        const recipeTags = recipe.querySelector('.recipe-tags');

        tags.split(' ').forEach((tag) => {
          switch (tag) {
            case '@vegetarian':
              recipeTags.innerHTML += iconVegetarian;
              break;
            case '@sweet':
              recipeTags.innerHTML += iconSweet;
              break;
            case '@drink':
              recipeTags.innerHTML += iconDrink;
              break;
            case '@bbq':
              recipeTags.innerHTML += iconBbq;
              break;
            case '@platter':
              recipeTags.innerHTML += iconPlatter;
              break;
          }
        });

        const serves = recipe.dataset.serves;
        if (serves !== '') {
          let serveNumber = document.createElement('div');
          serveNumber.classList.add('serves');
          serveNumber.innerText = `${serves}`;
          recipeTags.appendChild(serveNumber);
        }
      });

    </script>
{% endblock %}
